layout {
	pane {
		pane split_direction="vertical" {
			pane name="shell" command="bash" {
				args "-c" "${SHELL-bash}"
			}
		}
		pane split_direction="vertical" {
			pane name="tests" command="bash" {
				args "-c" "pnpm run --filter ./tests test; cd tests; ${SHELL-bash}"
			}
		}
		pane split_direction="vertical" {
			pane name="common" command="bash" {
				args "-c" "pnpm run --filter ./packages/common dev; cd packages/common; ${SHELL-bash}"
			}
			pane name="executor" command="bash" {
				args "-c" "pnpm run --filter ./packages/executor dev; cd packages/executor; ${SHELL-bash}"
			}
			pane name="tlock-decrypter" command="bash" {
				args "-c" "pnpm run --filter ./packages/tlock-decrypter dev; cd packages/tlock-decrypter; ${SHELL-bash}"
			}
			pane name="default-client" command="bash" {
				args "-c" "pnpm run --filter ./packages/default-client dev; cd packages/default-client; ${SHELL-bash}"
			}
			pane name="scheduler" command="bash" {
				args "-c" "pnpm run --filter ./packages/scheduler dev; cd packages/scheduler; ${SHELL-bash}"
			}
		}
		pane split_direction="vertical" {
			pane name="server" command="bash" {
				args "-c" "pnpm run --filter ./packages/server dev; cd packages/server; ${SHELL-bash}"
			}
			pane name="cf-worker" command="bash" {
				args "-c" "pnpm run --filter ./platforms/cf-worker dev; cd platforms/cf-worker; ${SHELL-bash}"
			}
		}
	}
}
