#--------------------------------------------------------------------------------------------------
# .gitignore
#--------------------------------------------------------------------------------------------------
node_modules
target
#--------------------------------------------------------------------------------------------------
pnpm-lock.yaml